<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Semanticuh</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <p>Who up vectorizing rn</p>
    <h3>Test DB storage functionality</h3>
    <label for="user_name"
      >Your Username is: <input id="user_name" type="text"
    /></label>
    <label for="user_textcontent"
      >Text Content Here: <input id="user_textcontent" type="text"
    /></label>
    <label for="user_website"
      >Website Visiting: <input id="user_website" type="text"
    /></label>
    <label for="user_site_metadata"
      >Website Context and Metadata: <input id="user_site_metadata" type="text"
    /></label>
    <button id="submit_data">Send it</button>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script>
      $("#submit_data").click(() => {
        let payload = {
          username: $("#user_name").val(),
          actual_data: $("#user_textcontent").val(),
          context_and_metadata: $("#user_site_metadata").val(),
          source_website: $("#user_website").val(),
        };
        console.log(payload)
        $.ajax({
          url: "http://127.0.0.1:5000/upload",
          type: "POST",
          data: JSON.stringify(payload),
          contentType: "application/json", // Example: setting to JSON
          success: function (response) {
            // Handle successful response
            console.log("wedidit")
          },
          error: function (error) {
            // Handle errors
          },
        });
      });
    </script>
  </body>
</html>
